:root {
  font-family: 'Inter', sans-serif; 
  /* Reset margin/padding cơ bản (thường hay đi kèm) */
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;  /* Chiều rộng cho thanh cuộn dọc */
  height: 8px; /* Chiều cao cho thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền xám rất nhạt */
  border-radius: 4px;  /* Bo tròn rãnh nếu muốn mềm mại */
}


::-webkit-scrollbar-thumb {
  background: #9e9e9e08;    /* Màu xám (bạn có thể chỉnh đậm nhạt tuỳ ý) */
  border-radius: 4px;  /* Bo tròn 4px để tạo hình con nhộng như ảnh */
}


::-webkit-scrollbar-thumb:hover {
  background: #ebebeb;    /* Đậm hơn chút khi hover để người dùng dễ nhận biết */
}

/* Loại bỏ màu nền xanh của trình duyệt khi Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Thay 'white' bằng mã màu nền input mà bạn muốn (ví dụ #ffffff hoặc #f5f5f5) */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    
    /* Đảm bảo màu chữ không bị đổi (thay #000 bằng màu chữ bạn muốn) */
    -webkit-text-fill-color: #000 !important;
    
    /* Giữ border-radius nếu Ant Design bo góc */
    transition: background-color 5000s ease-in-out 0s;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #f6f6f6;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 16px 24px 16px 24px;
  background-color: #f6f6f6;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
